language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5.0b3"
  - "3.5-dev"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
before_script:
  - python setup.py build_ext --inplace
# command to run tests
script:
  - bash ci/run_tests.sh
  - coverage run --source=pyogi setup.py test
after_success:
  coveralls
